.DS_Store
**/.DS_Store

**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.venv/
**/*.egg-info/

.env
.env.*
*.token
*.key

tmp/
run/
runs/
data/
datasets/
checkpoints/
eval_result/
wandb/
*.zip
